/* headers in posts */
.article-style h1 {
  font-size: 1.7rem;
}
.article-style h2 {
  font-size: 1.5rem;
}
.article-style h3 {
  font-weight: 700;
  font-size: 1.25rem;
}
.article-style h4, h5, h6 {
  font-weight: 700;
  font-size: 1.1rem;
}

.article-style h1, h2, h3, h4 {
  font-family: 'Work Sans';
  margin-top: 2rem;
  font-weight: 500;
}

/* titles on blog index */
.article-title {
  font-family: Calistoga;
  font-weight: 300;
}
/*************************************************
 *  Navigation bar
 **************************************************/

.navbar {
  height: 70px;
  background: $sta-menu-primary;
  background-image: url(/img/otis-redding.png);
  box-shadow: none;
  font-size: 18px;
  font-weight: 900 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  // Remove Bootstrap's navbar v-padding and assign v-padding to logo separately to maximise logo size.
  // Otherwise, Bootstrap's navbar v-padding causes issue with logo fitting within fixed 50px height bar in md-lg sizes.
  padding: 0 1rem;

  .nav-item {
    // For z-index compatibility with logo on mobile layout, otherwise nav-item can't be clicked when logo present.
    position: relative;
  }
  @include media-breakpoint-down(md) {
    height: 50px;

    .navbar-nav-scroll {
      width: 100%;
      overflow: hidden;

        /* add background image */
      .navbar-nav {
        overflow-x: auto;
        white-space: nowrap;
        background-image: url(/img/otis-redding.png);
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  .navbar-nav {
    display: flex;

    .nav-link {
      color: rgba($sta-menu-text, .85);

      &.active,
      &:hover,
      &:focus {
        color: $sta-menu-text;
      }

      &.active {
        font-weight: 900 !important;
        color: $sta-menu-text-active !important;
      }
    }
  }

  .dropdown-menu {
    font-size: #{$sta-font-size-small}px;
  }

  // Note: dedicated `dropdown-item-active` class to prevent ScrollSpy removing `active` class from language chooser.
  .dropdown-item.active,
  .dropdown-item-active {
    font-weight: bold;
    color: $sta-menu-text-active !important;
  }

}

.navbar-brand {
  // Set v-padding to 5px to align with 50/70px responsive max navbar heights.
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Calistoga';
  font-weight: 300;
  position: relative;
  z-index: 1030;  // For z-index clickable mobile logo.
}

@include media-breakpoint-down(md) {
  // Used in conjunction with mobile .navbar-brand to center logo on mobile.
  .navbar-brand-mobile-wrapper {
    position: absolute;
    left: 0;
    right: 0;
  }
  .navbar-brand {
    // Center logo in mobile navbar.
    margin: 0 auto;
  }
  .navbar-brand img {
    max-height: 40px;  // 40px height + 10px v-padding = 50px.
  }
  .navbar-toggler {
    border-color: transparent;  // Remove Bootstrap's border from Toggle button.
  }
  #navbar-main .main-menu-item {
    text-align: left !important;
    padding-left: 0;
  }
  .navbar-collapse {
    z-index: 1031 !important;  // Appear just over navbar.
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: $sta-menu-primary;
    text-align: center !important;
  }
  #navbar-main .main-menu-item .nav-item {
    padding: 10px 25px !important;
  }
  #navbar-main .main-menu-item .nav-item .nav-link {
    padding: 5px 25px !important;
  }
}

/*************************************************
 *  Card component
 **************************************************/

 .card-simple {
  background: #fff;
  box-shadow: none;
  border: 0px solid rgba(0,0,0,.09);
  border-radius: 3px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  transition: all 0.2s ease-out;
}

.card-simple:hover {
  box-shadow: 6px 6px 2px 0 rgba(33, 150, 186, 0.808);
}

.card-simple:first-of-type {
  margin-top: 0;
}

.card-simple p.read-more {
  margin: 0;
}

.dark .card-simple {
  background: rgb(40, 42, 54);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgb(68, 71, 90);
}

.card {
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  box-shadow: none;
  transition: all 0.2s ease-out;
  border: 0px solid rgba(0,0,0,.09);
}

.card .card-image {
  display: block;
  position: relative;
  min-height: 100px;
}

.card h4 {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: none;
}

.card h4 code {
  font-size: 0.93rem;
  color: #D90429;
  background:  rgba(226, 226, 226, 0.315);
}

.card h4 a {
  color: #000;
  border-bottom: solid 1px transparent;
}

.card h4 a:hover {
  color: #000;
  border-bottom: solid 1px #000;
  text-decoration: none;
}

.card .card-text {
  padding: 1rem;
}

.card .card-text p {
  color: rgba(0,0,0,0.54);
  font-size: 0.75rem;
}

.dark .card-text p {
  color: rgb(248, 248, 242);
}

.card p:last-child {
  margin-bottom: 0;
}

.card .card-image.hover-overlay:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: " ";
  opacity: 0;
  transition: all 0.2s ease-out;
}

.card .card-image.hover-overlay:after {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: all 0.2s ease-out;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0c1';
  text-align: center;
  font-size: 3rem;
  color: rgba(0,0,0,.09);
  border: 0px solid rgba(0,0,0,.09);
}

.card:hover {
  box-shadow: 6px 6px 2px 0 rgba(33, 150, 186, 0.808);
}

.card:hover .card-image.hover-overlay:before {
  opacity: 0.8;
}

.card:hover .card-image.hover-overlay:after {
  opacity: 0.6;
}

/*************************************************
 *  About page
 **************************************************/

.card-about {
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  box-shadow: 8px 8px 0 0 #2196BA;
  transition: all 0.2s ease-out;
  border: 1px solid #2196BA;
  border-radius: 10px;
  padding: 2rem;
  font-family: 'Work Sans';
  font-size: .95rem;
  background-color: #F7F7F7;
}

.card-about a {
  color: rgba(0,0,0,0.8);
  border-bottom: 1.5px #D90429 dotted;
  cursor: pointer;
}

.card-about a:hover {
  border-bottom: 1.5px #0EAD69 dotted;
  text-decoration: none !important;
  color: #0EAD69;
  cursor: pointer;
  transition: color 0.6s ease;
}

.about-page .row {
  height: calc(100vh - 85px);
  display: flex;
  align-items: center;
}

.about-page h1 {
  text-align: right;
  margin-bottom: 25rem;
}

.about-page .row h3 {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;

}
.about-page .row h3 a {
  color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 1199px) {
  .about-page h1 {
    text-align: left;
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .about-page h1 {
    text-align: left;
    margin-bottom: 0rem;
  }
}

/*************************************************
 *  About widget - home page
 **************************************************/
.about-widget .avatar {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-left: 4rem;
}

 .card-about-outer {
  padding-right: 5rem;
}

@media screen and (max-width: 1199px) {
  .card-about-outer {
    padding: 2rem;
    text-align: center;
  }
  .about-widget .avatar {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .card-about-outer {
    padding: 2rem;
    text-align: center;
  }
  .about-widget .avatar {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    object-fit: cover;
  }
}

/* network icon size */
 .md-icon {
  font-size: 1.5rem;
}

/* homepage section headers */
.section-heading h1 {
  margin: 0 0 0px 0;
  font-weight: 300;
  font-size: 2rem;
  color: #585858;
}

/* page widths */
.article-container {
  max-width: 825px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  font-size: 18px;
}

/*************************************************
 *  Projects / TIL widget - home page
 **************************************************/
 .home-section, .wg-portfolio, .container {
   padding-left: 0;
   padding-right: 0;
 }

 .home-section, .wg-portfolio, .btn-toolbar {
  padding: 0.6rem;
}

.home-section, .wg-today-i-learned .container {
  padding-left: 0;
  padding-right: 0;
}

.home-section, .wg-today-i-learned .btn-toolbar {
 padding: 0.6rem;
}

 .projects-container-main {
  padding: 0;
}

.projects-container {
  padding: 0.5rem;
}

.project-card {
  margin: 0; /* Set to Isotope's gutter size */
  position: relative;
  width: calc(33.3% - 6*0.16rem); /* Fluid 3 columns (inc. 20px gutter) */
}
@media screen and (max-width: 1199px) {
  .project-card {
    width: calc(50% - 4*0.24rem); /* Fluid 2 columns (inc. 20px gutter) */
    padding-right: 5px;
  }
}
@media screen and (max-width: 768px) {
  .project-card {
    width: 98%; /* 1 column */
    padding-right: 5px;
  }
}

.project-card .project-item .card {
  margin: 0.2rem 0.2rem 0.4rem 0.2rem ; /* Set to Isotope's gutter size */
}

.project-card .card {
  margin: 0; /* Remove default card margin and use Isotope gutter */
}

.project-showcase .project-item {
  margin-bottom: 3rem;
}

.card-text .article-style p {
  color: #797E77;
}

/*************************************************
 *  Article Alerts (Shortcode) and Asides (Mmark)
 **************************************************/

/* Style asides as Bootstrap alerts. */
.article-style aside {
  @extend .alert;
}

/* Asides use <p> block element whereas alerts use <div>. */
.article-style aside p,
div.alert > div {
  position: relative;
  display: block;
  font-family: 'Work Sans';
  font-size: 0.8rem;
  margin-left: 1.7rem;
  margin-top: 0;
  margin-bottom: 0;
}

div.alert div > * {
  margin-bottom: .5rem;  /* Use smaller paragraph spacing than usual. */
}

div.alert div > :last-child {
  margin-bottom: 0;
}

.article-style aside p::before,
div.alert > div:first-child::before {
  position: absolute;
  top: -0.3rem;
  left: -2rem;
  font-size: 1.4rem;
  color: #0EAD69;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f05a';
  width: 1rem;
  text-align: left;
}

div.alert-warning > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ff3860;
  content: '\f071';
}

div.alert-look > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0a4';
}

.article-style aside a,
div.alert a {
  color: currentColor;
  text-decoration: none;
  border-bottom: solid 1px currentColor;
}

.article-style aside,
.alert-note {
  color: #313131;
  background-color: #F7F7F7;
  border-color: #0EAD69;
/*  border-style: dashed; */
  box-shadow: 5px 5px 0 0 #0EAD69;
}

.alert-look {
  color: #313131;
  background-color: #F7F7F7;
  border-color: #0EAD69;
/*  border-style: dashed; */
  box-shadow: 5px 5px 0 0 #0EAD69;
}

.alert-warning {
  color: #cd0930;
  background-color: #fff5f7;
  border-color: #ff3860;
  border-style: dotted;
  box-shadow: 6px 6px 0 0 #ff3860;
}


pre,
code {
  font-family: $sta-font-mono, monospace;
  color: #2196BA;
  font-size: 0.8rem;
  background-color: #ffffff;
}

pre {
  margin: 0 0 1rem 0;
  background-color: rgb(248, 248, 248); /* Match default highlight theme. */
  border: 15px;
  font-size: 0.75rem;
  border-radius: 12px;
}

pre code {
  white-space: pre; /* Override Bootstrap to preserve line breaks in code. */
  overflow-x: auto;
}


/*************************************************
 *  Button size override
 *************************************************/

 .btn {
  padding: .5rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .2rem;
}

.btn-links .btn {
  padding: 5px .5rem 5px .5rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 #0D9F5F;
  color: #0D9F5F;
  border-color: #0D9F5F;
  background-color: $sta-menu_primary !important;
}

.btn-links .btn:hover {
  padding: 5px .5rem 5px .5rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 #0D9F5F;
  color: $sta-menu_primary;
  border-color: $sta-menu_primary;
  background-color: #0D9F5F !important;

}

.btn.btn-sm {
  padding: 5px .4rem 5px .4rem;
  font-size: .6rem;
  border-radius: .2rem;
}

/*************************************************
 *  Buttons
 **************************************************/
.btn {
  padding: .5 rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .3rem;
}

.btn-links .btn {
  padding: .3rem;
}

.btn-links .btn:hover {
  padding: .3rem;
  color: $sta-menu_primary;
  border-color: $sta-menu_primary;
  background-color: #0D9F5F !important;
}

.btn.btn-sm {
  padding: .3rem;
  font-size: .6rem;
  border-radius: .2rem;
}

.btn-toolbar .btn {
  font-size: 0.9rem;
  padding: 10px 14px 9px;
  border: none;
}

.btn-toolbar .btn:first-child {
  border-radius: 6px 0 0 6px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0 6px 6px 0;
}

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: $sta-primary-light !important;
}

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: $sta-primary-dark !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  padding: .3rem;
  box-shadow: 0 0 0 .2rem $sta-primary-light;
}

.btn-articles .btn {
  padding: .3rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 #0D9F5F;
  color: #0D9F5F;
  border-color: #0D9F5F;
  background-color: $sta-menu_primary !important;
  justify-content: center; 
}

.btn-articles .btn:hover {
  padding: .3rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 #0D9F5F;
  color: $sta-menu_primary;
  border-color: $sta-menu_primary;
  background-color: #0D9F5F !important;
  justify-content: center; 
}


/*************************************************
 *  Links
 **************************************************/

 .article-style a {
  color: rgba(0,0,0,0.8);
  border-bottom: 1.5px #EF476F dotted;
  cursor: pointer;
}

.article-style  a:hover {
  border-bottom: 1.5px $sta-link-hover dotted;
  text-decoration: none !important;
  color: $sta-link-hover;
  cursor: pointer;
  transition: color 0.6s ease;
}

/*************************************************
 *  Compact (stream) list view
 **************************************************/
.media.stream-item {
  margin-bottom: 5rem;
}

.media.stream-item .article-style,
.card-simple .article-style {
  margin-top: 15px;
  font-size: 0.8rem;
}

.media.stream-item .stream-meta {
  margin-top: 20px;
}

.media.stream-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/*************************************************
 *  Add background image (grainy look)
 **************************************************/

body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  background-color: $sta-background;
  background-image: url(/img/otis-redding.png);
  background-attachment: fixed;
  margin-top: 70px; /* Offset body content by navbar height. */
  padding-top: 0;
  counter-reset: captions;
}
@include media-breakpoint-down(md) { /* Match max-width of .nav-bar query. */
  body {
    margin-top: 50px; /* Offset body content by navbar height. */
  }
}

/* homepage */
.home-section {
  background-image: url('/img/otis-redding.png');
}

/*************************************************
 *  Archive page headers
 **************************************************/

.universal-wrapper h1 {
  font-weight: 300;
  letter-spacing: -2px;
  margin-bottom: 2.5rem;
}

lastupdate {
  font-family: 'Work Sans';
  font-size: 0.7rem;
}

.article-style blockquote {
  font-family: 'Work Sans';
  font-size: 13pt;
  color: #0A5770;
}